/* Navigation */

#navbar{
    flex-direction: column;
}
#navbar ul li a{
    font-size: .91rem;
    padding: 0px 4px;
    margin: 4px;
}

/* Home */

#home{
    height: 413px;
    padding: 3px 6px;
}
#home::before{
    height: 555px;
}
#home p{
    font-size: 13px;
}

/* Services */

#services{
    flex-direction: column;
}
#services .box{
    padding: 14px;
    margin: 6px;
}

/* Clients */

#clients img{
    height: 60px;
}

/* Utility Classes */
.h-primary{
    font-size: 26px;
}
.btn{
    font-size: 13px;
}
.h-secondary{
    font-size: 30px;
}